<div class="container-fluid">
  <div class="row kk-signup-container ">
    <div class="col-md-6 col-md-offset-3">
      <%= render 'layouts/messages' %>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-6 col-md-offset-3">
      <div class="logo-login">
        <%= image_tag 'logo-300x300.png', width:200, height:200 %>
      </div>
      <h3 class="kk-signup-title text-center">Simple and easy, <b>join us!</b></h2>
      <br>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

        <% if resource.errors.any? %>
          <%= content_for :js do %>
            <%= raw_messages_errors :user, resource.errors %>
          <% end %>

        <% end %>

        <div class="form-group has-feedback">
          <%= f.label :email, class: 'kk-signup-label' %><br />
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
          <%= draw_error_div :email %>
        </div>

        <div class="form-group has-feedback">
          <%= f.label :password, class: 'kk-signup-label' %>
          <% if @minimum_password_length %>
          <em class="kk-signup-label">(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
          <%= draw_error_div :password %>
        </div>

        <div class="form-group has-feedback">
          <%= f.label :password_confirmation, class: 'kk-signup-label' %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
        </div>

        <div class="form-group has-feedback">
          <%= f.label :user_token, class: 'kk-signup-label' %><br />
          <%= f.text_field :user_token, class: 'form-control' %>
          <%= draw_error_div :user_token %>
        </div>
        <br>
        <div class="actions text-center">
          <%= f.submit "Sign up", class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<footer class="footer">
  <br><br>
  <%= render "devise/shared/links" %>
  <p>&copy; Stroga, Inc. 2016.</p>
</footer>
