
<div>
    <div class="board-title"> <%= title %> </div>
    <section class="board" id="<%= board_id %>" data-task-status-sym="<%= task_status_sym %>">


      <div class="board-scroll">

        <% tasks.each do |task|  %>
          <%= render partial: 'details_modal', locals: {task: task, team_users: team_users} %>
          <%= render partial: 'card', locals: {task: task} %>
        <% end %>

      </div>

    </section>
</div>
