<article class="card <%= "card-user-played" if task.is_working_on %>"
  id="<%= task.id  %>" draggable="true">

  <article class="card-click-details" data-task-id="<%= task.id %>">
    <div class="<%= "disapproved" if task.is_disapproved? %>"></div>
    <div class="detail">
      <%= image_tag(get_responsible_from_team_users(task.responsible_id, @team_users).avatar_url,
                    size: '25x25', class: 'hvr-glow userslist-face-round-card') %>
      <span class="task-id">#<%= task.id  %></span>
    </div>
    <header class="centered-text"><%= task.title  %></header>
  </article>

  <a type="button" id="btn-task-play-<%= task.id %>"
    class="task-play <%= "hidden" if task.is_working_on %>"
    data-task-id="<%= task.id %>"
    data-task-title="<%= task.title %>"
    ><span class="glyphicon glyphicon-play btn-play"></span></a>

  <a type="button" id="btn-task-pause-<%= task.id %>"
    class="task-pause <%= "hidden" unless task.is_working_on %>"
    data-task-id="<%= task.id %>"
    data-task-title="<%= task.title %>"
    ><span class="glyphicon glyphicon-pause btn-pause"></span></a>

</article>
