<div class="kk-task-details-comments">
  <div class="kk-font-size-12 all-comments-<%= task_id %>">
    <% task_comments.each do |comment| %>
      <%= render partial: 'tasks/comment', locals: {comment: comment}  %>
    <% end %>
  </div>
</div>
<br>
<div>
  <%= form_tag(task_add_comment_path(task_id), remote: true) do %>
    <div class="form-group">
      <%= text_area_tag "text", nil, id: "comment-text-#{task_id}", size: '10x10', class: 'form-control kk-details-task-modal-textarea' %>
    </div>
    <div class="text-center">
      <%= submit_tag 'Comment', class: 'btn btn-sm btn-success' %> <br><br>
    </div>
  <% end %>
</div>
