<div class="modal fade bs-example-modal-lg" id="task-details-modal-<%= task.id %>"
     tabindex="-1" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body kk-task-details-modal-body">
        <div class="row kk-task-details-modal-row">

          <div>
            <div class="col-lg-6 kk-task-details-modal-side1">
              <br>
              <div class="kk-padding-right-left-content">
                <%= form_tag(task_transfer_path(task.id), remote: true) do %>
                  <div class="text-center kk-details-task-transfer">
                    <%= hidden_field_tag 'team_id', task.team_id  %>
                      <span>Transfer to:</span>
                      <%= select_tag 'responsible_id', options_from_collection_for_select(team_users, :id, :name) %>
                    <%= submit_tag 'Transfer', class: 'btn btn-sm btn-success text-center' %>
                  </div>
                <% end %>

                <div>
                  <br><br>
                  <p id="task-comments-<%= task.id %>"></p>
                </div>
              </div>
            </div>

            <div class="col-lg-6 kk-task-details-modal-side2">
              <br>
              <button type="button" class="close kk-task-btn-close-modal" data-dismiss="modal" aria-label="Close">
                <span class="kk-close" aria-hidden="true">x</span>
              </button>
              <div class="kk-padding-right-left-content">
                <div class="text-center">
                  <h5>#<%= task.id  %> - <%= task.title  %></h5>
                </div>
                <br>
                <div class="kk-task-details-modal-description">
                  <p class="kk-font-size-12" id="task-description-<%= task.id %>"></p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
