$('#comment-text-' + '<%= @task_id %>').val('');

var comment_partial = '<%= j render partial: 'tasks/comment', locals: {comment: @comment} %>';
$('.all-comments-' + <%= @task_id  %>).prepend(comment_partial);
