<body class="body-grey">
  <!-- Whole Page Wrapper (Sidebar Component) -->
  <div id="wrapper">

    <!-- BACK BUTTON OF SIDEBAR -->


    <div class="glyphicon glyphicon-arrow-right back-btn"></div>

    <!-- Sidebar -->
    <div id="sidebar-wrapper" class="kk-fixed">
      <ul class="sidebar-nav">
        <li>
          <a class="sidebar-brand" href="#">New Task from Calazans</a>
        </li>
        <li>
          <a class="sidebar-brand" href="#">Last day to finish #2873</a>
        </li>
        <li>
          <a class="sidebar-brand" href="#">Transfered task from Eris</a>
        </li>
        <li>
          <a class="sidebar-brand" href="#">Forgot to pause task #2255</a>
        </li>
        <li>
          <a class="sidebar-system" href="#">Profile</a>
        </li>
        <li>
          <a href="#">

            <!-- Logout in the Right Menu -->
            <%= link_to 'Logout', destroy_user_session_path, :method => :delete, class: 'sidebar-system' %>
            <!-- End of logout -->

          </a>
        </li>
      </ul>
    </div>
    <!-- NavBar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">

        <div class="navbar-header">

          <div class="navbar-brand" href="#">
            <%= link_to projects_path() do %> Projects <% end %> /
            <%= @project_name  %> /
            <%= link_to sprints_path(project_id: @sprint.project_id) do %> Sprints <% end %>
          <span class="navbar-brand-bread" href="#">/ <%= @sprint.name  %></span>
          </div>

        </div>



        <!-- Task Counter Navbar -->

        <div class="kk-navbar-dashboard kk-green" href="#">
          <span class="glyphicon glyphicon-tasks kk-navbar-iconfix"></span> <%= @total_of_delivered_tasks %>/<%= @total_of_tasks %>
        </div>


        <div class="kk-navbar-dashboard kk-green">

          <span class="glyphicon glyphicon-hourglass kk-navbar-iconfix"></span> <%= @tasks_times.worked_time_in_hours %>/<%= @tasks_times.estimated_time_in_hours %>h
        </div>

        <!-- User Photo -->
        <div class="kk-green-square">
        </div>
        <ul class="userphoto hvr-backward">
          <a href="#menu-toggle" id="menu-toggle">
            <% if logged_user.present? %>
            <div class="avatar">
              <%= image_tag(logged_user.avatar_url, size: '50x50') %>
            </div>
            <% end %>

          </a>
        </ul>
        <!-- Notification Bell -->
        <ul id="sidebar-wrapper">
          <div class="notification-bg">
            <a href="#" id="menu-toggle">
              <span class="glyphicon glyphicon-bell notification-bell"></span>

              <!-- Username after avatar -->
              <% if logged_user.present? %>
              <div class="username">
                <span><%= logged_user.name %></span>
              </div>
              <% end %>


            </a>
          </div>
        </ul>
      </div>
    </nav>
  </div>

  <!-- Task Ordering -->
  <div class="board-middle">


    <span class="clicked-tasks board-middle-tasks" href="#"><%= link_to tasks_path(sprint_id: @sprint.id, user_id: logged_user.id) do %> Show My Tasks <% end %></span>


    <span class="clicked-tasks board-middle-tasks"><%= link_to tasks_path(sprint_id: @sprint.id) do %> Show All Tasks <% end %></span>


    <!-- <a class="board-middle-tasks" href="#">Other Tasks</a> -->

  </div>


  <!-- KanKan Cards -->
  <!-- Userslist -->

  <div class="board-middle-users">
    <div class="userslist-bg userslist-face-round">

      <% @team_users.each do |user| %>
      <%= link_to tasks_path(sprint_id: @sprint.id, user_id: user.id) do %> <%= image_tag(user.avatar_url, size: '40x40', class: 'hvr-float') %>
      <% end %>
      <% end %>

    </div>
  </div>
  <!-- Userslist end -->
  <h1 class="kk-green"><%= flash[:alert] %></h1>

  <h4>
    <% @team_users.each do |user| %>
    <%= link_to tasks_path(sprint_id: @sprint.id, user_id: user.id) do %> <% end %>
    <% end %>
  </h4>
  <section class="boards">

    <%= render partial: 'board',
    locals: {
      tasks: @tasks_by_state.todo,
      team_users: @team_users,
      title: 'To Do',
      board_id: 'to_do',
      task_status_sym: 'to_do'
    }
    %>

    <%= render partial: 'board',
    locals: {
      tasks: @tasks_by_state.in_progress,
      team_users: @team_users,
      title: 'In Progress',
      board_id: 'doing',
      task_status_sym: 'doing'
    }
    %>

    <%= render partial: 'board',
    locals: {
      tasks: @tasks_by_state.in_review,
      team_users: @team_users,
      title: 'On Review',
      board_id: 'on_review',
      task_status_sym: 'on_review'
    }
    %>

    <%= render partial: 'board',
    locals: {
      tasks: @tasks_by_state.approved_in_review,
      team_users: @team_users,
      title: 'Approved On Review',
      board_id: 'approved_on_review',
      task_status_sym: 'approved_on_review'
    }
    %>

    <%= render partial: 'board',
    locals: {
      tasks: @tasks_by_state.on_stage,
      team_users: @team_users,
      title: 'On Stage',
      board_id: 'on_stage',
      task_status_sym: 'on_stage'
    }
    %>

    <%= render partial: 'board',
    locals: {
      tasks: @tasks_by_state.approved_on_stage,
      team_users: @team_users,
      title: 'Approved On Stage',
      board_id: 'approved_on_stage',
      task_status_sym: 'approved_on_stage'
    }
    %>

    <%= render(partial: 'board',
    locals: {
      tasks: @tasks_by_state.on_production,
      team_users: @team_users,
      title: 'On Production',
      board_id: 'delivered',
      task_status_sym: 'delivered'
      }) if logged_user.is_master || logged_user.is_manager
      %>

      <%= render(partial: 'board',
      locals: {
        tasks: @tasks_by_state.cloned_to_next_sprint,
        team_users: @team_users,
        title: 'Cloned to Next Sprint',
        board_id: 'cloned_to_next_sprint',
        task_status_sym: 'cloned_to_next_sprint'
        }) if logged_user.is_master || logged_user.is_manager
        %>

      </section>


      <script>
      $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
      });
      </script>
    </body>
