$('#task-description-' + <%= @task_id  %>).html('<%= j(raw @task_description.description)  %>');
var comments_page = '<%= j render partial: 'tasks/comments', locals: {task_id: @task_id, task_comments: @task_comments} %>';
$('#task-comments-' + <%= @task_id  %>).html(comments_page);
$('#task-details-modal-' + <%= @task_id  %>).modal();
