<div class="container-fluid">
  <div class="row kk-passwords-container ">
    <div class="col-md-6 col-md-offset-3">
      <%= render 'layouts/messages' %>
    </div>
  </div>
  <div class="container text-center">
    <div class="col-md-6 col-md-offset-3">
      <div class="logo-login">
        <%= image_tag 'logo-300x300.png', width:200, height:200 %>
      </div>
      <h3 class="kk-passwords-title text-center">Change your password</h2>
      <br>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>

        <div class="form-group has-feedback">
          <%= f.label :password, "New password", class: 'kk-passwords-label' %><br />
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em><br />
          <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control' %>
        </div>

        <div class="form-group has-feedback">
          <%= f.label :password_confirmation, "Confirm new password", class: 'kk-passwords-label' %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
        </div>
        <br>
        <div class="actions">
          <%= f.submit "Change my password", class: 'btn btn-success' %>
        </div>
      <% end %>

    </div>
  </div>
</div>

<footer class="footer">
  <br><br>
  <%= render "devise/shared/links" %>
  <p>&copy; Stroga, Inc. 2016.</p>
</footer>
