<div class="container-fluid">
  <div class="row kk-passwords-container ">
    <div class="col-md-6 col-md-offset-3">
      <%= render 'layouts/messages' %>
    </div>
  </div>
  <div class="container text-center">
    <div class="col-md-6 col-md-offset-3">
      <div class="logo-login">
        <%= image_tag 'logo-300x300.png', width:200, height:200 %>
      </div>
      <h3 class="kk-passwords-title text-center">Forgot your password?</h2>
      <br>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group has-feedback">
          <%= f.label :email, class: 'kk-passwords-label' %><br />
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
        </div>
        <br>
        <div class="actions">
          <%= f.submit "Send me reset password instructions", class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<footer class="footer">
  <br><br>
  <%= render "devise/shared/links" %>
  <p>&copy; Stroga, Inc. 2016.</p>
</footer>
