<body class="body-grey">
  <!-- Whole Page Wrapper (Sidebar Component) -->
  <div id="wrapper">

    <!-- BACK BUTTON OF SIDEBAR -->

    <div class="glyphicon glyphicon-arrow-right back-btn"></div>

    <!-- Sidebar -->
    <div id="sidebar-wrapper" class="kk-fixed">
      <ul class="sidebar-nav">
        <li>
          <a class="sidebar-brand" href="#">New Task from Calazans</a>
        </li>
        <li>
          <a class="sidebar-brand" href="#">Last day to finish #2873</a>
        </li>
        <li>
          <a class="sidebar-brand" href="#">Transfered task from Eris</a>
        </li>
        <li>
          <a class="sidebar-brand" href="#">Forgot to pause task #2255</a>
        </li>
        <li>
          <a class="sidebar-system" href="#">Profile</a>
        </li>
        <li>
          <a href="#">

            <!-- Logout in the Right Menu -->
            <%= link_to 'Logout', destroy_user_session_path, :method => :delete, class: 'sidebar-system' %>
            <!-- End of logout -->

          </a>
        </li>
      </ul>
    </div>
    <!-- NavBar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
          </button>

          <div>
            <a class="navbar-brand" href="#">Projects</a>
          </div>
        </div>

        <!-- User Photo -->
        <div class="kk-green-square">
        </div>
        <ul class="userphoto hvr-backward">
          <a href="#menu-toggle" id="menu-toggle">
            <% if logged_user.present? %>
            <div class="avatar">
              <%= image_tag(logged_user.avatar_url, size: '50x50') %>
            </div>
            <% end %>

          </a>
        </ul>
        <!-- Notification Bell -->
        <ul id="sidebar-wrapper">
          <div class="notification-bg">
            <a href="#" id="menu-toggle">
              <span class="glyphicon glyphicon-bell notification-bell"></span>

              <!-- Username after avatar -->
              <% if logged_user.present? %>
              <div class="username">
                <span><%= logged_user.name %></span>
              </div>
              <% end %>


            </a>
          </div>
        </ul>
      </div>
    </nav>
  </div>

  <!-- Task Order -->
  <!-- <div class="board-middle">
     <div class="row">
       <div class=" col-lg-10">

         <div class="col-lg-3">
           <a href="#">My Tasks</a>
         </div>

         <div class="col-lg-3">
           <a href="#">All Tasks</a>
         </div>

         <div class="col-lg-3">
           <a href="#">Other Tasks</a>
         </div>

       </div>

     </div>
  </div> -->

  <!-- KanKan Cards -->

  <h1 class="kk-green screen-title">Projects</h1>

  <section class="kk-project-board">
    <%= flash[:alert]  %>

    <section class="project-board">

      <% @projects.each do |project|  %>

        <article class="project-card hvr-grow"
          data-project-id="<%= project.id %>">
          <header><%= project.name  %></header>
        </article>

      <% end %>
    </section>
  </section>




  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
  <script src="js/bootstrap.min.js"></script>

  <script>
  $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
  });
  </script>
</body>
