<div class="container-fluid">
  <div class="row kk-flash-message-layout-outside">
    <div class="col-md-6 col-md-offset-3">
      <%= render 'layouts/messages' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="col-md-6">
        <div class="logo-login text-center">
          <%= image_tag 'logo-500x400.png', width:300, height:245 %>
        </div>
      </div>

      <!-- Input Container -->
      <div class="col-md-6">
        <div class="kk-login-form">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <h3 class="login-top">Log In</h3>

            <!-- First Input (User)-->
            <div class="form-group has-feedback">
              <span class="glyphicon-with-top glyphicon-user form-control-feedback"></span>
            </div>

            <div class="field">
              <%= f.email_field :email, placeholder: "EMAIL", autofocus: true, class: 'form-control' %>
            </div>

            <!-- Second Input (Pass) -->
            <div class="form-group has-feedback">
              <span class="glyphicon-with-bot glyphicon-lock form-control-feedback"></span>
            </div>

            <div class="field">
              <%= f.password_field :password, placeholder: "PASSWORD", autocomplee: "off", class: "form-control" %>
            </div>

            <div class="actions">
              <%= f.submit "Log in", class: 'btn btn-login btn-success' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <br><br>
  <%= render "devise/shared/links" %>
  <p>&copy; Stroga, Inc. 2016.</p>
</footer>
