/*HTML QUICK TAGS*/

.margin-left-20 {margin-left: 20px;}
.margin-right-30per {margin-right: -15%;}
.margin-right-40 {margin-right: 40px;}
.margin-right-20per {margin-right: 20%;}
.margin-right-20 {margin-right: 20px;}
.margin-right-10 {margin-right: 10px;}
.margin-right-5 {margin-right: 5px;}
.margin-10 {margin: 20px;}

.padding-10 {padding: 10px;}

.padding-top-5 {padding-top: 5px}

.fixed { position: fixed; }
.centered-text { text-align: center;}
.absolute {position: absolute}
.invisible-div {opacity: 0.0}
.padding-right-5 {padding-right: 5;}
.z-index-10 {z-index: 10;}
.z-index-100 {z-index: 100;}
.z-index-500 {z-index: 500;}

.kk-fixed {  position: fixed !important; }


// Centerlizer by GIJO * Make any div center and resposve *

.kk-centerlizer-1 {
  left: 38%;
 }

 @media (min-width: 600px) {
   .kk-centerlizer-1 {
     left: 35%;
   }
 }

 @media (min-width: 1100px) {
   .kk-centerlizer-1 {
     left: 38%;
   }
 }

 @media (min-width: 1200px) {
   .kk-centerlizer-1 {
     left: 40%;
   }
 }

 @media (min-width: 1400px) {
   .kk-centerlizer-1 {
     left: 43%;
   }
 }



/* Somente para mover o corpo da pagina inteiro mais para baixo */

body#login {
  background-color: #7be0b5;
  background-image: url(<%= asset_path 'kk-background.png' %>);
}

body {
  overflow: visible;
}

::-webkit-scrollbar {
    width: 3px;
    height: 12px;
}

::-webkit-scrollbar-track {
    opacity: 0.0;
}

::-webkit-scrollbar-thumb {
    background-color: #3e2e57;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #511fa3;
}

.task-play .task-pause {
  position: relative;
  z-index: 1;
}

.btn-play {
  position: relative;
  margin-top: 10px;
  margin-left: 43%;
  margin-bottom: 10px;
  padding-right: 7px;
  padding-left: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: white;
  border-radius: 30px;
  background-color: #6e5a8f;
}

.btn-play:hover {
  opacity: 0.8;

}

.btn-play:active {
  opacity: 1.0;
  background-color: #7be0b5;

}

.btn-pause {
  z-index: 10;
  margin-top: 10px;
  text-align: center;
  margin-left: 43%;
  margin-bottom: 10px;
  padding-right: 7px;
  padding-left: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: #6e5a8f;
  border-radius: 30px;
  background-color: white;
}

.btn-pause:hover {
  opacity: 0.6;
}

.btn-pause:active {
  opacity: 0.9;
  background-color: #7be0b5;
}

.clicked-tab {
  text-decoration: none;
  border-bottom: 3px #6e5a8f solid;
  padding-bottom: -10px !important;
}

.kk-green-square {
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 50px;
  background-color: #7be0b5;
}

.kk-green {
  color: #7be0b5;
}

.kk-purple {
  color: #6e5a8f;
}

.kk-purple-bg {
  background-color: #6e5a8f;
}

.body-grey {
  background-color: #ebebeb;
}

.btnbot {
  background: #4eb78f;
  opacity: 0.4;
  transition:0.5s;
}

.btnbot:hover {
  opacity: 1;
}

.navbar {
  z-index: 100;
  border: 2px;
}

.div-center {
  padding-top: 200px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.login-top {
  text-align: center;
  padding-bottom: 20px;
  color: #6e5a8f;
}

.navbar-brand {

  a {
    color: #777777;
  }

}

.navbar-brand-bread {
  padding-top: 14px;
  font-size: 17px;
  color: #7be0b5 !important;
}

.navbar-header {
  position: absolute;
  left: 0;
  padding-left: 30px;
}

.btn-login {
  margin-top: 10px;
  float: right;
}

.kankan {
  color: #6e5a8f;
}

.logo-face {
  line-height: 0.85;
  margin-top: -16px;
  font-size: 160px;
  font-weight: 700;
  text-align: center;
  color: #6e5a8f;
}

.footer {
  color: #6e5a8f;
  text-decoration: none;
  text-align: center;
  width:100%;
  height:70px;
  padding:5px;
  bottom:13%;
}

.white-bg {
  background-color: white;
}

.white-color {
  color: white;
}

.glyphicon-user, .glyphicon-lock {
  color: #dddddd;
  font-size: 20px;
}

.userphoto {
  z-index: 50;
  position: absolute;
  float: right;
  top: 0;
  right: 0;
  transition: all 0.5s;
}

.userphoto:hover {
  height: 50px;
}

.notification-bell {
  z-index: 99;
  position: absolute;
  float: right;
  padding-top: 10px;
  padding-left: 25px;
  color: white;
}

.username {
  z-index: 98;
  padding-top: 8px;
  padding-left: 60px;
  font-size: 12px;
  color: white;
}

.notification-bg {
  z-index: 98;
  position: absolute;
  float: right;
  padding-top: 8px;
  right: 8px;
  width: 300px;
  height: 60px;
  background-color: #7be0b5;
}

/*RIGHT SIDE MENU*/

/* Toggle Styles */

#wrapper {
  padding-right: 0;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-right: 250px;

  .userphoto {
    transform: translateX(-258px);
    opacity: 0.7;

  }

  .back-btn {
    position: fixed;
    opacity: 1.0;
  }

  #sidebar-wrapper {
    right: 250px;
  }
}

#sidebar-wrapper {
  z-index: 6000;
  position: absolute;
  right: 0;
  width: 0;
  height: 100%;
  margin-right: -290px;
  overflow-y: auto;
  background: white;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-left: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 280px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 80px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #6e5a8f;
  background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-brand {
  background: #e5e5e5;
}

.sidebar-system {
  color: black !important;
}

.sidebar-nav > .sidebar-brand {
  left: 10px;
  right: 10px;
  font-size: 15px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: #E9E9E9;
}

@media(min-width:768px) {
  #wrapper {
    padding-right: 300px;

    #sidebar-wrapper {
      width: 290px;
    }

    #page-content-wrapper {
      padding: 20px;
      position: relative;
    }

    &.toggled {
      padding-right: 0;

      #sidebar-wrapper {
        width: 300px;
      }

      #page-content-wrapper {
        position: relative;
        margin-left: 0;
      }
    }
  }
}

/*SIDE MENU RIGHT*/

.kk-navbar-iconfix {
  top: 2px;
  padding-left: 3px;
}

.kk-navbar-dashboard {
  float: right;
  padding-top: 8px;
  margin-right: 25px;
}

@media screen and (min-width: 190px) and (max-width: 850px) {
  .kk-navbar-dashboard { display: none; }
}


.board-middle-tasks {
  font-size: 16px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
}

.board-middle {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 15px;

  a {
    color: grey;

  }
}

.board-middle-users {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;

  a {
    color: grey;
    text-decoration: none;
  }
}

.back-btn {
  z-index: 500;
  position: absolute;
  right: 275px;
  top: 10px;
  color: white !important;
  pointer-events: none;
  opacity: 0.1;
}

.userslist-bg {
  display: inline-block;
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
  background-color: #d1d1d1;
  height: 50px;
  border-radius: 30px;
}

@media screen and (min-width: 10px) and (max-width: 600px) {
  .userslist-bg {
    height: auto;
    padding-bottom: 5px;
  }
}

@media screen and (min-width: 10px) and (max-width: 770px) {
  .sidebar-nav {
    display: none;
  }

  #sidebar-wrapper {
    display: none;
  }

  .userphoto {
    display: none;
  }

  .kk-green-square {
    display: none;
  }
}


.grey-bg {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: grey;
  border-radius: 30px;
  width: auto;
}

.userslist-face-round {
  position: relative;
  margin-right: 5px;
  border-radius: 30px;

  img {
    border-radius: 30px;
  }
}

.userslist-face-round-card {
  float: right;
  position: relative;
  margin-right: 5px;
  border-radius: 30px;

  img {
    border-radius: 30px;
  }
}

.screen-title {
  color: #777777 !important;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  margin: auto;
}

.screen-title-sprints {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  border-radius: 55px;
}

.kk-cards-middle {
  left: 30px;

}

.kk-project-board  {
  font-size: 22px;
  color: white !important;
  text-align: center;
  left: 0;
  right: 0;
  width: 400px;
  height: 200px;
  margin: auto;
}

.kk-flash-message-layout-outside {
  margin-top: 30px;
  height: 80px;
}

.kk-padding-right-left-content {
  padding-left: 10px;
  padding-right: 10px;
}

.kk-font-size-12 {
  font-size: 12px;
}

.kk-close {
  font-size: 25px;;
  font-weight: lighter;
  text-shadow: 0px;
}

.navbar {
  z-index: 500
}

.board-title {
  font-weight: 700;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  color: white;
  margin-left: 5px;
  background-color: #6e5a8f;
  border-radius: 10px;
  width: 290px;
}

.task-id {
  font-size: 16px;
}
