<% if logged_user.present? %>
  <div class="invisible-div">
    <%= image_tag(logged_user.avatar_url) if logged_user.avatar_url.present? %>
    <span><%= logged_user.name %></span>
  </div>
<% end %>
