<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KanKanIt</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body id="signup">
    <%= yield %>

    <script type="text/javascript">
      jQuery(document).on('turbolinks:load', function(){
        <%= yield :js %>
      });

    </script>
  </body>
</html>
